body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #DDDDDD;
  margin: 1em;
}
a:link, a:visited {color: #0000cc;text-decoration:none;}
a:hover, a:active {color: #0000ff;text-decoration:underline;}
table {
  font-size: 14px;	
}
#header {
	border-bottom: 1px;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 1em;
	border-bottom: solid #CCCCCC 1pt;
	color: #666666;
}
#topMenu {
  	font-size: 0.9em;
	text-align:right;	
}

#title {
	margin-top: -0.9em;
	font-size: 1.4em;
	font-weight: normal;
}
#title a:link, #title a:visited {color: #666666;text-decoration:none;}
#title a:hover, #title a:active {color: #0000ff;text-decoration:underline;}

#title img {
	margin-right: 1em;
}
#title #username {
	text-align:right;
	margin-top: -1.1em;
}
#content {
	margin-left: 1em;
	margin-right: 1em;
	padding: 1em;
	background-color: #EEEEEE;
	border:  solid #CCCCCC 1pt;
}
/*
#content ul {
	list-style-type: none;
}
*/
#content h1 {
	font-size: 1.2em;
	font-weight: bold;
}
#content h2 {
	font-size: 1.1em;
	font-weight: bold;
}
#content h3 {
	font-size: 1em;
	font-weight: bold;
}
#content input {valign: top;}

#content #contentMenu {
	font-size: 0.9em;
	margin-bottom: 0.9em;
}

#Viewer .formatted pre,  #Viewer .formatted code{
	color: #cc3333;
}

#Viewer .formatted pre{
	background-color: #ffffff;
	padding-top: 1em;
	padding-bottom: 1em;
}

#Viewer .formatted table {
	border-collapse:collapse; 
	border:2px solid  #CCCCCC;
	margin-top: 1em;
}
#Viewer .formatted th {border:1px solid #CCCCCC; background-color: #9999CC;}
#Viewer .formatted td {border:1px solid #CCCCCC;}

#footer {
	border-top: 1px;
  	font-size: 0.9em;
	padding-top: 0em;
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 1em;
	border-top: solid #CCCCCC 1pt;
	text-align:right;
	color: #666666;
}
form {display:inline;}